<div class="container d-flex justify-content-center align-items-center form-height">
  <main class="form-signin w-100 m-auto">
    <h1 class="h3 mb-3 fw-normal text-center">Cont nou</h1>
    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <div class="form-floating">
          <%= f.input :email,
                      label: 'e-mail',
                      required: true,
                      autofocus: true,
                      input_html: { autocomplete: "email" }%>
        </div>
        <div class="form-floating">
          <%= f.input :password,
                      label: 'parola',
                      required: true,
                      hint: ("min. #{@minimum_password_length} caractere" if @minimum_password_length),
                      input_html: { autocomplete: "new-password" } %>

        </div>
        <div class="form-floating">
          <%= f.input :password_confirmation,
                      label: 'confirmă parola',
                      required: true,
                      input_html: { autocomplete: "new-password" } %>
        </div>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "Cont nou", class: 'w-100 btn btn-lg btn-success btn-color' %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
  </main>
</div>

