<footer>
  <ul class="nav justify-content-center border-bottom">
    <li class="nav-item"><%= link_to 'Echipa', root_path, class: 'nav-link px-2 text-muted link-to' %></li>
    <li class="nav-item"><%= link_to 'Specialități', root_path, class: 'nav-link px-2 text-muted link-to' %></li>
    <li class="nav-item"><%= link_to 'Pacienți', root_path, class: 'nav-link px-2 text-muted link-to' %></li>
    <li class="nav-item"><%= link_to 'Despre Spinal Care', root_path, class: 'nav-link px-2 text-muted link-to' %></li>
  </ul>
  <p class="text-center text-muted">&copy; 2000 - <%= Time.now.year %> Spinal Care</p>
</footer>