<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag('logo2.png') %>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <li class="nav-item active">
          <%= link_to "Echipa", "#", class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Specialități", "#", class: "nav-link" %>
        </li>
        <% if user_signed_in? %>
          <li class="nav-item">
            <%= link_to "Admin", admin_path, class: "nav-link" %>
          </li>
        <% end %>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" data-bs-toggle="dropdown" aria-expanded="false">Info</a>
          <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
            <%= link_to "Tehnică medicală", "#", class: "dropdown-item" %>
            <%= link_to "Blog", "#", class: "dropdown-item" %>
            <%= link_to "Pacienți", "#", class: "dropdown-item" %>
            <%= link_to "Legea 46/2003", "#", class: "dropdown-item" %>
            <%= link_to "Despre Spinal Care", "#", class: "dropdown-item" %>
            </div>
          </li>
      </ul>
    </div>
  </div>
</div>
