<main>

  <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="3" aria-label="Slide 4"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <%= cl_image_tag("0236_cu8xqs.jpg", class: 'bd-placeholder-img', :gravity=>"faces", :width=>'100%', :height=>'100%') %>

        <div class="container">
          <div class="carousel-caption text-start">
            <h1>conf. univ. dr. Lucian Dobreci</h1>
            <p>Fondator Spinal Care</p>
            <p><a class="btn btn-lg btn-success" href="#">Despre Spinal Care</a></p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <%= cl_image_tag("088_flnx8t.png", class: 'bd-placeholder-img', :gravity=>"faces", :width=>'100%', :height=>'100%') %>

        <div class="container">
          <div class="carousel-caption">
            <h1>Echipa noastră</h1>
            <p>Membrii echipei Spinal Care sunt instruiți permanent</p>
            <p><a class="btn btn-lg btn-success" href="#">Vezi echipa</a></p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <%= cl_image_tag("0187_d9kewo.png", :gravity=>"center", :width=>'100%', :height=>'100%')%>
        <div class="container">
          <div class="carousel-caption">
            <h1>Echipamente pentru recuperare</h1>
            <p>Spinal Care beneficiază de echipamente de recuperare de ultimă generație</p>
            <p><a class="btn btn-lg btn-success" href="#">Mai multe informații...</a></p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <%= cl_image_tag("0171_r2ifrz.jpg", :gravity=>"center", :width=>'100%', :height=>'100%') %>

        <div class="container">
          <div class="carousel-caption text-end">
            <h1>Tehnică medicală.</h1>
            <p>Eficiență, precizie prin tehnică medicală performantă.</p>
            <p><a class="btn btn-lg btn-success" href="#">Mai multe informații...</a></p>
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>



  <div class="container marketing">



    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading fw-normal lh-1">Recuperare în zile, <span>nu în luni sau ani</span></h2>
        <p class="lead">Procedurile inovatoare și echipamentele de recuperare de ultimă generație scurtează considerabil timpul de recuperare.</p>
      </div>
      <div class="col-md-5">
        <%= cl_image_tag('0171_r2ifrz.jpg', :gravity=>"center", :width=>'100%', :height=>'100%') %>

      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading fw-normal lh-1">Spații pentru consultații și tratament  <span>generoase, moderne și curate.</span></h2>
        <p class="lead">Spinal Care este o clinică de recuperare modernă care oferă condiții de top pacienților săi.</p>
      </div>
      <div class="col-md-5 order-md-1">
        <%= cl_image_tag("0187_d9kewo.png", :gravity=>"center", :width=>'100%', :height=>'100%')%>

      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading fw-normal lh-1">Personal calificat <span>și motivat.</span></h2>
        <p class="lead">La Spinal Care personalul este foarte atent selecționat, instruit permanent și monitorizat.</p>
      </div>
      <div class="col-md-5">
        <%= cl_image_tag("088_flnx8t.png", class: 'bd-placeholder-img', :gravity=>"faces", :width=>'100%', :height=>'100%') %>

      </div>
    </div>

    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->

  </div><!-- /.container -->

</main>