<main>

  <%= render 'partials/homepage/carousel' %>

  <div class="container marketing">
    <div class="container px-4 py-5" id="custom-cards">
      <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">
        <div class="col">
          <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-4 shadow-lg">
            <div class="card-image">
              <%= cl_image_tag("088_flnx8t.png", class: 'bd-placeholder-img', :gravity=>"faces", :width=>'100%', :height=>'100%') %>
            </div>
            <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
              <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Specialități</h2>
              <ul class="d-flex list-unstyled mt-auto">
                <li class="me-auto">
                  <%= logo_icon_card('logo_sm.png') %>
                </li>
              </ul>
            </div>
          </div>
        </div>
  
        <div class="col">
          <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-4 shadow-lg" >
            <div class="card-image">
              <%= cl_image_tag("088_flnx8t.png", class: 'bd-placeholder-img', :gravity=>"faces", :width=>'100%', :height=>'100%') %>
            </div>
            <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
              <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Echipa</h2>
              <ul class="d-flex list-unstyled mt-auto">
                <li class="me-auto">
                  <%= logo_icon_card('logo_sm.png') %>
                </li>
                <li class="d-flex align-items-center me-3">
                  <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#geo-fill"/></svg>
                  <small>Pakistan</small>
                </li>
                <li class="d-flex align-items-center">
                  <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#calendar3"/></svg>
                  <small>4d</small>
                </li>
              </ul>
            </div>
          </div>
        </div>
  
        <div class="col">
          <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-4 shadow-lg" style="background-image: asset-url('08.jpg');">
            <div class="card-image">
              <%= cl_image_tag("088_flnx8t.png", class: 'bd-placeholder-img', :gravity=>"faces", :width=>'100%', :height=>'100%') %>
            </div>
            <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
              <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Tehnică medicală</h2>
              <ul class="d-flex list-unstyled mt-auto">
                <li class="me-auto">
                  <%= logo_icon_card('logo_sm.png') %>
                </li>
                <li class="d-flex align-items-center me-3">
                  <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#geo-fill"/></svg>
                  <small>California</small>
                </li>
                <li class="d-flex align-items-center">
                  <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#calendar3"/></svg>
                  <small>5d</small>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

<div class="custom-featurettes">
  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading fw-normal lh-1">Recuperare în zile, <span>nu în luni sau ani</span></h2>
      <p class="lead">Procedurile inovatoare și echipamentele de recuperare de ultimă generație scurtează considerabil timpul de recuperare.</p>
    </div>
    <div class="col-md-5" style="overflow: hidden;">
      <%= cl_image_tag('0171_r2ifrz.jpg', :gravity=>"center", :width=>'100%', :height=>'100%') %>
    </div>
  </div>


  <div class="row featurette">
    <div class="col-md-7 order-md-2">
      <h2 class="featurette-heading fw-normal lh-1">Spații pentru consultații și tratament  <span>generoase, moderne și curate.</span></h2>
      <p class="lead">Spinal Care este o clinică de recuperare modernă care oferă condiții de top pacienților săi.</p>
    </div>
    <div class="col-md-5 order-md-1" style="overflow: hidden;">
      <%= cl_image_tag("0187_d9kewo.png", class: 'bd-placeholder-img',:gravity=>"center", :width=>'100%', :height=>'100%')%>

    </div>
  </div>


  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading fw-normal lh-1">Personal calificat <span>și motivat.</span></h2>
      <p class="lead">La Spinal Care personalul este foarte atent selecționat, instruit permanent și monitorizat.</p>
    </div>
    <div class="col-md-5 order-md-1" style="overflow: hidden;">
      <%= cl_image_tag("088_flnx8t.png", class: 'bd-placeholder-img', :gravity=>"faces", :width=>'100%', :height=>'100%') %>

    </div>
  </div>

</div>


    <!-- /END THE FEATURETTES -->

  </div><!-- /.container -->

</main>