<main>

  <%= render 'partials/homepage/carousel' %>

  <div class="container marketing">
    <div class="container px-4 py-5" id="custom-cards">
      <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">
          <%= render 'partials/homepage/mini_cards', minicards: @minicards %>
      </div>
    </div>


<div class="custom-featurettes">
<% @featurettes.each_with_index do |f, i| %>
<div class="row featurette f-animation">
  <div class="col-md-7 <%= "order-md-2" if i.even? %>">
    <h2 class="featurette-heading fw-normal lh-1"><%= f.title_one %> <span><%= f.title_two %></span></h2>
    <p class="lead"><%= f.content %></p>
  </div>
  <div class="col-md-5" style="overflow: hidden;">
    <%= cl_image_tag(f.photo.key, :gravity=>"face", :height=>500, :width=>500, :crop=>"fill", class: 'bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto') if f.photo.key.present? %>
  </div>
</div>
<% end %>
</div>
  </div><!-- /.container -->
</main>