<div class="edit_member_modal">
  <h4 class="text-center">Modifică</h4>
  <%= simple_form_for(m) do |f| %>
    <%= f.input :first_name, label: false, placeholder: 'Prenume' %>
    <%= f.input :last_name, label: false, placeholder: 'Nume' %>
    <%= f.input :role, collection: ['medic', 'asistent(ă)', 'kinetoterapeut' ], label: false, prompt: 'Alege rol', id: 'role-input' %>
    <%= f.input :photo, as: :file, label: false %>
    <%= f.submit 'Trimite', class: 'btn btn-primary' %>
  <% end %>
  <button type="button" class="btn-close"></button>
</div>
