<div class="specialties-section px-5 py-5" id="specialties-section">
  <h3>Specialități medicale</h3>
  <div class="specialties-form my-5">
    <%= simple_form_for(@specialty) do |f| %>
      <%= f.input :name, label: false, placeholder: 'adaugă specialitate' %>
      <button class="btn-clear">➕</i></button>
    <% end %>
  </div>
  <div class="specialties-index">
    <div class="specialties-each">
      <% @specialties.each do |s| %>
        <%= simple_form_for(s) do |f| %>
          <%= f.input :name, label: false %>
          <button class="btn-clear">✍</button>
          <%= link_to specialty_path(s), method: :delete, data: {confirm: "Vrei să ștergi specialitatea medicală: #{s.name}?" }, class: 'btn-clear' do %>
            ␡
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>