<div class="professions-section py-5 px-5" id="professions-section">
  <h3>Profesii</h3>
  <div class="profession-form my-5">
    <%= simple_form_for @profession, html: {class: 'mt-5'} do |f| %>
      <%= f.input :name, label: false, placeholder: 'adaugă profesie' %>
      <button class="btn-clear">➕</i></button>
    <% end %>
  </div>
  <div class="professions-index">
    <div class="professions-each">
      <% @professions.each do |p| %>
        <%= simple_form_for(p) do |f| %>
          <%= f.input :name, label: false %>
          <button class="btn-clear">✍</button>
          <%= link_to '␡', profession_path(p), data: {confirm: "Vrei să ștergi profesia: #{p.name}?" }, class: 'btn-clear', method: :delete %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>