<div class="member-index mt-5">
  <% @members.each do |m| %>
    <div class="member-card" style="background-image: url('<%= m.photo.key.present? ? cl_image_path(m.photo.key, :gravity=>"face") : image_path('doctor.png') %>')">
      <span></span>
      <div class="member_card__details">
        <h3 class="pt-4"><%= "#{m.first_name} #{m.last_name}" %></h3>
        <p><%= m.role %></p>
      </div>
      <%= link_to admin_page ? 'Prezentare' : 'Află mai multe', member_path(m), class: 'card-button' %>
      <% if policy(m).edit? && policy(m).destroy? && admin_page %>
        <div class="member_card__crud">
          <a><i class="fas fa-edit member-edit-btn"></i></a>
          <%= link_to member_path(m), method: :delete, data: { confirm: "Sigur vrei să ștergi #{m.first_name.concat(" #{m.last_name}")} ?" } do %>
            <i class="fas fa-backspace"></i>
          <% end %>
        </div>
        <%= render 'partials/admin/team_members/edit_member_form', m: m %>
      <% end %>
    </div>
  <% end %>
</div>