<div class="container d-flex justify-content-center align-items-center form-height">
  <main class="form-signin w-100 m-auto">
    <h1 class="h3 mb-3 fw-normal text-center">Autentificare</h1>
    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-inputs">
        <div class="form-floating">
          <%= f.input :email,
                      label: 'e-mail',
                      required: false,
                      autofocus: true,
                      input_html: { autocomplete: "email" },
                      class: 'form-control' %>
        </div>
        <div class="form-floating">
          <%= f.input :password,
                      label: 'parola',
                      required: false,
                      input_html: { autocomplete: "current-password" } %>
        </div>
        <div class="checkbox mb-3">
          <%= f.input :remember_me, label: 'Păstrează autentificarea', as: :boolean if devise_mapping.rememberable? %>
        </div>
      </div>

        <%= f.button :submit, "Intră în cont", class: 'w-100 btn btn-lg btn-success btn-color' %>
    <% end %>

    <%= render "devise/shared/links" %>
  </main>

</div>
