<div class="container-fluid">
  <h3>Administrare home page</h3>
  <hr>
  <div class="carousel-cards-admin">
    <h4>Secțiunea pentru carousel cards</h4>
    <h5>Card nou pentru carousel</h5>
      <%= render 'partials/admin/general_page/render_carousel_admin', existing_card: false, cc: @carousel_card %>
    <h5>Carduri pentru carousel existente</h5>
    <%= render 'partials/admin/general_page/render_carousel_admin', existing_card: true %>
  </div>
  <hr>
  <div class="mini-cards-admin">
    <h4>Secțiunea pentru mini carduri</h4>
    <div class="mini-flex">
      <div class="mini-cards-new">
        <h5>Minicard nou</h5>
          <%= render 'partials/admin/general_page/render_minicards_admin', mc: @mini_card, existing_minicard: false %>
      </div>
        <div class="mini-cards_index">
          <h5>Carduri pentru carousel existente</h5>
          <%= render 'partials/admin/general_page/render_minicards_admin', existing_minicard: true %>
        </div>
    </div>
  </div>
  <hr>
  <div class="featurettes-cards-admin">
    <h4>Secțiunea carduri featurettes</h4>
    <h5>Featurette nou</h5>
      <%= render 'partials/admin/general_page/tables_featurette', existing_featurette: false, featurette: @featurette  %>
    <h5>Carduri pentru featurette existente</h5>
      <div class="featurettes_index mt-5">
        <%= render 'partials/admin/general_page/tables_featurette', existing_featurette: true, featurette: @featurette  %>
      </div>
  </div>
</div>