<table style="margin-top: 40px;">
  <tr>
    <% if !new_featurette %>
      <th>Imagine</th>
    <% end %>
      <th>Img nouă</th>
    <th>Titlu (1)</th>
    <th>Titlu (2)</th>
    <th>Text</th>
    <th>Acțiune</th>
  </tr>
  <% if new_featurette %>
    <tr>
      <%= simple_form_for(featurette) do |f| %>
        <td><%= f.input :photo, as: :file, label: false %></td>
        <td><%= f.input :title_one, label: false %></td>
        <td><%= f.input :title_two, label: false %></td>
        <td><%= f.input :content, label: false %></td>
        <td><%= f.submit new_featurette ? 'Featurette nou' : 'Modifică', class: 'btn btn-sm btn-primary' %></td>
      <% end %>
    </tr>
  <% elsif !new_featurette %>
  <% @featurettes.each do |f| %>
  <tr>
    <td><%= cl_image_tag(f.photo.key, height: 100, width: 100, crop: :fill) %></td>
    <%= simple_form_for(f) do |f| %>
    <td><%= f.input :photo, as: :file, label: false %></td>
    <td><%= f.input :title_one, label: false %></td>
    <td><%= f.input :title_two, label: false %></td>
    <td><%= f.input :content, label: false %></td>
    <td><%= f.submit 'Modifică', class: 'btn btn-sm btn-primary' %></td>
    <% end %>
  </tr>
<% end %>
  <% end %>


</table>