<div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <% @carousel_cards.each_with_index do |cc, i| %>
    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="<%=i%>" class="active" aria-current="true" aria-label="Slide <%= i + 1 %>"></button>
    <% end %>
  </div>
  <div class="carousel-inner">
    <% @carousel_cards.each_with_index do |cc, i| %>
      <div class="carousel-item <%= 'active' if i && i == 0 %>">
        <%= cl_image_tag(cc.photo.key, class: 'bd-placeholder-img', :gravity=>"faces", :width=>'100%', :height=>'100%') if image.photo.key.present? %>
        <div class="container">
          <div class="carousel-caption text-start">
            <h1><%= cc.line_one %></h1>
            <p><%= cc.line_two %></p>
            <p><%= link_to cc.btn_text, cc.btn, class: "btn btn-lg btn-primary" %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>