<div class="container-fluid">
  <h3>Administrare home page</h3>
  <hr>
  <div class="carousel-cards-admin">
    <h4>Secțiunea pentru carousel cards</h4>
    <table style="margin-top: 40px;">
      <tr>
        <th>Imagine</th>
        <th>Titlu</th>
        <th>Subtitlu</th>
        <th>Titlu btn</th>
        <th>Cale buton*</th>
        <th>Acțiune</th>
      </tr>
      <tr>
        <%= simple_form_for(@carousel_card) do |f| %>
        <td><%= f.input :photo, as: :file, input_html: { class: 'd-none' }, label_html: { class: 'upload-photo' },
          label: '📷 Imagine nouă' %></td>
        <td><%= f.input :line_one, label: false %></td>
        <td><%= f.input :line_two, label: false %></td>
        <td><%= f.input :btn_text, label: false %></td>
        <td><%= f.input :btn, label: false %></td>
        <td><%= f.submit 'Card nou' , class: "btn btn-sm btn-primary #{@carousel_cards.count > 5 ? 'disabled' : nil }" %></td>
        <% end %>
      </tr>
    </table>
    <h5>Carduri pentru carousel existente</h5>
    <table>
      <tr>
        <th>Imagine</th>
        <th>Altă imagine</th>
        <th>Titlu</th>
        <th>Subtitlu</th>
        <th>Titlu btn</th>
        <th>Cale buton*</th>
        <th>Acțiune</th>
      </tr>
      <% @carousel_cards.each do |cc| %>
      <tr>
        <td><%= cl_image_tag(cc.photo.key, height: 50, width: 50, crop: :fill) %></td>
        <%= simple_form_for(cc) do |f| %>
        <td><%= f.input :photo, as: :file, input_html: { class: 'd-none' }, label_html: { class: 'upload-photo' },
          label: '📷 Schimbă img' %></td>
        <td><%= f.input :line_one, label: false %></td>
        <td><%= f.input :line_two, label: false %></td>
        <td><%= f.input :btn_text, label: false %></td>
        <td><%= f.input :btn, label: false %></td>
        <td><%= f.submit 'Modifică' , class: "btn btn-sm btn-primary" %></td>
        <% end %>
      </tr>
      <% end %>
    </table>
  </div>
  <hr>
  <div class="mini-cards-admin">
    <h4>Secțiunea pentru mini carduri</h4>
    <table style="margin-top: 50px;">
      <tr>
        <th>Imagine</th>
        <th>Acțiune</th>
      </tr>
      <tr>
        <%= simple_form_for(@mini_card) do |f| %>
          <td>
            <%= f.input :photo, as: :file, input_html: { class: 'd-none' }, label_html: { class: 'upload-photo' },
              label: '📷 Imagine nouă' %>
          </td>
          <td>
            <%= f.submit 'Card nou' , class: "btn btn-sm btn-primary #{@mini_cards.count > 2 ? 'disabled' : nil }" %>
          </td>
      </tr>
    </table>
    <% end %>
    <h5>Carduri pentru carousel existente</h5>
      <div class="mini-cards_index mt-5">
        <table>
          <tr>
            <th>Card id</th>
            <th>Card foto</th>
            <th>Foto nouă</th>
            <th>Acțiune</th>
          </tr>
          <% @mini_cards.each do |mc| %>
            <tr>
              <td>
                <%= mc.id %>
              </td>
              <td>
                <%= cl_image_tag(mc.photo.key, height: 70, width: 70, crop: :fill) %>
              </td>
              <%= simple_form_for(mc) do |f| %>
                <td>
                  <%= f.input :photo, as: :file, input_html: { class: 'd-none' }, label_html: { class: 'upload-photo' },
                    label: '📷 Schimbă img' %>
                </td>
                <td>
                  <%= f.submit 'Update' , class: 'btn btn-sm btn-primary' %>
                </td>
                <% end %>
            </tr>
            <% end %>
        </table>
      </div>
  </div>
</div>